
@font-face {
    font-family: 'CartoonBox';
    src: url(../galery/font/CartoonBox-LVY64.woff) format('woff');
}

/* style utama  */
body {
    font: 18px/36px 'CartoonBox', 'Arial Narrow', Arial, sans-serif;
    background-color: #ddd;
    
}

h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* overflow: hidden; */
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery,
.gallery li img,
.gallery li span{
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgb(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 20px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}



/* overlay */
.overlay {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 0;
}

.overlay:target {
    width: auto;
    height: auto;
     bottom: 0;
     right: 0;
     background-color: rgba(0,0,0,0.8);
}

.overlay img{
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.5);
}

.overlay:target img {
    animation: zoomDanFade;
}

/* navigasi */
.next,
.prev {
    width: 57px;
    height: 93px;
    background-image: url(../galery/img/thumbs/g22.jpg);
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    margin-left: 50px;
}

.next {
    right: 10%;
    background-image: url(../galery/img/thumbs/g333.png);
}

.prev {
    left: 1%;
    background-image: url(../galery/img/thumbs/g444.png);
}


/* animasi */
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.overlay .close {
    position: absolute;
    top: 30px;
    left:50%;
    margin-left: 30%;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

@keyframes slideDownFade {
    0% {
         opacity: 0;
    transform translateY(-20px);
}
100% {
    opacity: 1;
    transform translateY(0);
}
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

