html, body {
    margin : 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
flex: 3;
order: 1;
}


.sidebar-satu{
flex: 1;
order: 1;
}


.sidebar-dua{
flex: 1;
order: 3;
}

/* Latihan 2 */

.container-dua{
    max-width: 800px;
    margin: 50px auto;

}

.layanan {
    padding: 20px;
    box-sizing: border-box;
}

.layanan.satu { background-color: rgb(67, 67, 168);}
.layanan.dua { background-color: rgb(215, 80, 31);}
.layanan.tiga { background-color: rgb(131, 233, 36);}

/* Latihan 3 */

.container-tiga {
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    width: 50%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    width: 25%;
}

/* latihan 4 */

.container-empat {
    width: 800px;
    margin: 50px auto;
    display: flex;
}

.card {
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;
    flex: 1;

}

.card .header {
    height: 150px;
    background-color: #666;
}

.card .content {
    text-align: center;
    padding-bottom: 20px;
}

.card.besar {
    transform: scale(1.12);
}

/* Latihan 5 */

.container-lima {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;
    display: flex;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: brown;
    text-align: center;
    color: white;
    margin: auto;
    display: flex;
}

.kotak span {
    margin: auto;
}

/* responsive */
@media( min-width: 600px ) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }
    .layanan {
        width: 30%;
    }
}